<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chats' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <p>
        You can join a chat from the sidebar.
      </p>
    </div>
</div>